
form, .comfirm{
  padding: 0.9em 13%;
  border: 0.08em solid $colorMain;
}

.formField{
  padding: 3.5em 1.5em;
}

input, label{
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
#book-date, #book-time, #book-guests, #book-occasion{
  background: #bdbdbd43;
  padding: 0.8em 2em;
  border: none;
  outline: none;
  border-radius: 0.5em;
}

.btnReceive input{
  padding: 0.9em 1.1em;
  margin-top: 1.5em;
  background: $colorMain;
  color: $colorBackground;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}
.btnReceive input:hover{
  background: $colorYellow;
  color: $colorMain;
  transition: 0.5s;
}