
.menu-container{
  margin: 110px auto;
  padding: 10px 13%;
}

.menu-container h2{
  color: #000;
}

.menu-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cards{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 1rem;
}

.menu-items{
  /* height: 400px; */
  width: 350px;
  background: #a9c8be;
  border-radius: 8px;
}

.menu-container img{
  width: 100%;
  height: 233px;
  border-radius: 8px;
}

.menu-content{
  padding: 5px 15px;
}


.menu-content .heading{
  display: flex;
  justify-content: space-between;
}

.orderbtn{
  background-color: $colorYellow;
  color: black;
  padding: 0.5em 0.8em;
  margin: 0.5em 0;
  border: none;
  text-decoration: none;
  border-radius: 0.7em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.orderbtn:hover{
  background-color: $colorMain;
  color: $colorBackground;
  transition: 0.5s;
}


@media (max-width: 640px) {
  .menu-container{
    margin: 20px 0;
    padding: 10px 8%;
  }
  .menu-header{
    justify-content: flex-start;
  }

  .menu-items{
    width: 100%;
  }
}